page-calendar {

    :root {
        --scheduled-border-thickness: 2px solid;
        --scheduled-border-radius: 15px;
    }

    .top-increment-scheduled {
        border-top: var(--scheduled-border-thickness);
        border-left: var(--scheduled-border-thickness);
        border-right: var(--scheduled-border-thickness);
        border-top-left-radius: var(--scheduled-border-radius);
        border-top-right-radius: var(--scheduled-border-radius);
    }

    .bottom-increment-scheduled {
        border-bottom: var(--scheduled-border-thickness);
        border-left: var(--scheduled-border-thickness);
        border-right: var(--scheduled-border-thickness);
        border-bottom-left-radius: var(--scheduled-border-radius);
        border-bottom-right-radius: var(--scheduled-border-radius);
    }

    .top-bottom-increment-scheduled {
        border: var(--scheduled-border-thickness);
        border-radius: var(--scheduled-border-radius);
    }

    .middle-increment-scheduled {
        border-left: var(--scheduled-border-thickness);
        border-right: var(--scheduled-border-thickness);
    }

    .unscheduled {
        background-color: white;
    }

    .unscheduled-time {
        border-bottom: 1px dashed;
    }

    .nav-buttons {
        font-size: 25px;
    }

    .row {
        min-height: 26px;
    }

    .label {
        width: 20%;
        top: -15px;
    }

    .event-space {
        width: 80%;
    }
}
