page-calendar {

    .nav-buttons {
        font-size: 25px;
    }

    .row {
        min-height: 26px;
    }

    .label {
        width: 20%;
        top: -15px;
    }

    .event-space {
        width: 80%;
    }
}
