page-calendar {

    .top-increment-scheduled {
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .bottom-increment-scheduled {
        border-bottom: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .top-bottom-increment-scheduled {
        border: 2px solid;
        border-radius: 15px;
    }

    .middle-increment-scheduled {
        border-left: 2px solid;
        border-right: 2px solid;
    }

    .unscheduled {
        background-color: white;
    }

    .unscheduled-time {
        border-bottom: 1px dashed;
    }

    .nav-buttons {
        font-size: 25px;
    }

    .row {
        min-height: 26px;
    }

    .label {
        width: 20%;
        top: -15px;
    }

    .event-space {
        width: 80%;
    }
}
