page-preferences {

    .item-button {
        padding-left: 0px;
    }

    .item-inner {
        padding-left: 8px;
        padding-right: 8px;
    }

    .right-col {
        text-align: right
    }

}
