<ion-header>
  <ion-navbar>
    <ion-title>Tasks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider color='light'> Overdue Tasks </ion-item-divider>
        <ion-item-sliding *ngFor='let task of overdueTasks | async'>
            <button ion-item class='sliding-item-button' (click)="editTask(task)">
                <ion-row class="top-row">
                    <ion-col> {{ task.name }} </ion-col>
                    <ion-col class="right-col">  {{ task.duration }} {{ task.durationUnit }}  </ion-col>
                </ion-row>
                <ion-row class="bottom-row">
                    <ion-col> project </ion-col>
                    <ion-col class="right-col"> {{ task.due | date: 'EEE, MMM d h:mm a' }} </ion-col>
                </ion-row>
            </button>

            <ion-item-options side="left">
                <button ion-button color="secondary" (click)="completeTask(task)">Complete</button>
            </ion-item-options>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteTask(task)">Delete</button>
            </ion-item-options>

        </ion-item-sliding>
        <ion-item-divider color='light'> Tasks </ion-item-divider>
        <ion-item-sliding *ngFor='let task of tasks | async'>
            <button ion-item class='sliding-item-button' (click)="editTask(task)">
                <ion-row class="top-row">
                    <ion-col> {{ task.name }} </ion-col>
                    <ion-col class="right-col">  {{ task.duration }} {{ task.durationUnit }}  </ion-col>
                </ion-row>
                <ion-row class="bottom-row">
                    <ion-col> project </ion-col>
                    <ion-col class="right-col"> {{ task.due | date: 'EEE, MMM d h:mm a' }} </ion-col>
                </ion-row>
            </button>

            <ion-item-options side="left">
                <button ion-button color="secondary" (click)="completeTask(task)">Complete</button>
            </ion-item-options>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteTask(task)">Delete</button>
            </ion-item-options>

        </ion-item-sliding>
        <ion-item-divider color='light'> Completed Tasks </ion-item-divider>
        <ion-item-sliding *ngFor='let task of completedTasks | async'>
            <button ion-item class='sliding-item-button' (click)="editTask(task)">
                <ion-row class="top-row">
                    <ion-col> {{ task.name }} </ion-col>
                    <ion-col class="right-col">  {{ task.duration }} {{ task.durationUnit }}  </ion-col>
                </ion-row>
                <ion-row class="bottom-row">
                    <ion-col> project </ion-col>
                    <ion-col class="right-col"> {{ task.due | date: 'EEE, MMM d h:mm a' }} </ion-col>
                </ion-row>
            </button>

            <ion-item-options side="left">
                <button ion-button color="secondary" (click)="completeTask(task)">Complete</button>
            </ion-item-options>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteTask(task)">Delete</button>
            </ion-item-options>

        </ion-item-sliding>
        <button ion-button center (click)="addTask()" block id="add-task">Create Task</button>
    </ion-list>
</ion-content>
