<ion-header>
  <ion-navbar>
    <ion-title>Tasks</ion-title>
    <ion-buttons end>
        <button ion-button (click)="addTask()" class="nav-buttons"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item-divider color='light' class="divider"> Overdue Tasks </ion-item-divider>
        <ion-item-sliding *ngFor='let task of overdueTasks | async'>
            <button ion-item class='sliding-item-button' (click)="editTask(task)">
                <ion-row class="top-row">
                    <ion-col> {{ task.name }} </ion-col>
                    <ion-col class="right-col">  {{ task.duration }} {{ task.durationUnit }}  </ion-col>
                </ion-row>
                <ion-row class="bottom-row">
                    <ion-col> project </ion-col>
                    <ion-col class="right-col"> {{ task.due | date: 'EEE, MMM d h:mm a' }} </ion-col>
                </ion-row>
            </button>
            <ion-item-options side="left">
                <button ion-button color="secondary" (click)="completeTask(task)">Complete</button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteTask(task)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-divider color='light' class="divider"> Tasks </ion-item-divider>
        <ion-item-sliding *ngFor='let task of tasks | async'>
            <button ion-item class='sliding-item-button' (click)="editTask(task)">
                <ion-row class="top-row">
                    <ion-col> {{ task.name }} </ion-col>
                    <ion-col class="right-col">  {{ task.duration }} {{ task.durationUnit }}  </ion-col>
                </ion-row>
                <ion-row class="bottom-row">
                    <ion-col> project </ion-col>
                    <ion-col class="right-col"> {{ task.due | date: 'EEE, MMM d h:mm a' }} </ion-col>
                </ion-row>
            </button>
            <ion-item-options side="left">
                <button ion-button color="secondary" (click)="completeTask(task)">Complete</button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteTask(task)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-divider color='light' class="divider"> Completed Tasks </ion-item-divider>
        <ion-item-sliding *ngFor='let task of completedTasks | async'>
            <button ion-item class='sliding-item-button' (click)="editTask(task)">
                <ion-row class="top-row">
                    <ion-col> {{ task.name }} </ion-col>
                    <ion-col class="right-col">  {{ task.duration }} {{ task.durationUnit }}  </ion-col>
                </ion-row>
                <ion-row class="bottom-row">
                    <ion-col> project </ion-col>
                    <ion-col class="right-col"> {{ task.due | date: 'EEE, MMM d h:mm a' }} </ion-col>
                </ion-row>
            </button>

            <ion-item-options side="left">
                <button ion-button color="secondary" (click)="completeTask(task)">Complete</button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteTask(task)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
</ion-content>
