page-tasks {

    .divider {
        padding-left: 16px;
    }

    .sliding-item-button {
        padding-left: 0px;
    }

    .top-row {
        padding-left: 11px;
    }

    // .item-inner {
    //     padding-left: 8px;
    //     padding-right: 8px;
    // }

    .bottom-row {
        padding-left: 11px;
        color: gray;
        font-size: 12px;
    }

    .right-col {
        text-align: right
    }

    #add-task {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

}
