<ion-header>

  <ion-navbar>
    <ion-title>Events</ion-title>
    <ion-buttons end>
        <button ion-button (click)="addEvent()" class="nav-buttons"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list *ngIf='isDataAvailable'>
        <ion-item-divider color='light' class='divider'> Common Events </ion-item-divider>
        <button ion-item *ngFor='let event of sortedCommonEvents' class='item-button' (click)="editEvent(event)">
            <ion-row class="top-row">
                <ion-col> {{ event.name }} </ion-col>
                <ion-col class="right-col">  {{ event.from | militaryToAmPm }} - {{ event.to | militaryToAmPm }}  </ion-col>
            </ion-row>
        </button>
        <ion-item-divider color='light' class='divider'> Custom Events </ion-item-divider>
        <ion-item-sliding *ngFor='let customEvent of sortedCustomEvents'>
            <button ion-item class='item-button' (click)="editEvent(customEvent)">
                <ion-row class="top-row">
                    <ion-col> {{ customEvent.name }} </ion-col>
                    <ion-col class="right-col">  {{ customEvent.from | militaryToAmPm }} - {{ customEvent.to | militaryToAmPm }}  </ion-col>
                </ion-row>
            </button>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteEvent(customEvent)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
